.material-input input, .material-input textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0
}

.material-input {
    display: block;
    position: relative;
    width: 100%;
    min-height: 92px
}

.material-input[textarea] {
    height: 232px
}

.material-input input, .material-input textarea {
    width: 100%;
    padding-left: 16px;
    height: 60px;
    outline: none;
    position: absolute;
    top: 12px;
    left: 0;
    border: none;
    border-bottom: 1px solid #767676;
    font-size: 1.6rem;
    color: #000
}

.material-input input::placeholder, .material-input textarea::placeholder {
    color: #767676
}

.material-input textarea {
    height: 200px;
    padding-top: 12px
}

.material-input.bordered input, .material-input.bordered textarea {
    border: 1px solid #767676
}

.material-input input, .material-input textarea {
    padding-left: 30px
}

.material-input p.m-title {
    position: absolute;
    left: 30px;
    height: 60px;
    top: 12px;
    transition: all .3s;
    color: #767676;
    pointer-events: none;
    font-size: 1.6rem;
    display: flex;
    align-items: center
}

.material-input.focusing input, .material-input.focusing textarea {
    border-color: #e85a25;
    caret-color: #e85a25;
    color: rgba(0, 0, 0, .87)
}

.material-input.has-error input, .material-input.has-error textarea {
    border-color: #ef4a81;
    caret-color: #ef4a81
}

.material-input.fill p.m-title, .material-input.focusing p.m-title, .material-input.has-error p.m-title {
    height: 12px;
    top: 6px;
    z-index: 0;
    font-size: 1.3rem
}

.material-input.bordered.fill p.m-title:before, .material-input.bordered.focusing p.m-title:before, .material-input.bordered.has-error p.m-title:before {
    content: "";
    width: calc(100% + 16px);
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: -8px;
    z-index: -1
}

.material-input.completed input, .material-input.completed textarea {
    border-color: #e85a25
}

.material-input.completed p.m-title {
    color: #e85a25
}

.material-input.fill input, .material-input.fill textarea {
    color: #333
}

.material-input.focusing .icon, .material-input.focusing p.m-title {
    color: #e85a25
}

.material-input.has-error .icon, .material-input.has-error p.m-title {
    color: #ef4a81
}

@media (max-width:1919px) {
    .material-input {
        min-height: 55px
    }
    .material-input input, .material-input textarea {
        height: 40px;
        padding-left: 15px
    }
    .material-input textarea {
        height: 100px
    }
    .material-input[textarea] {
        height: 115px
    }
    .material-input p.m-title {
        height: 40px;
        font-size: 1.2rem;
        left: 15px
    }
    .material-input.fill p.m-title, .material-input.focusing p.m-title, .material-input.has-error p.m-title {
        font-size: 1.2rem
    }
}

.material-select {
    display: block;
    position: relative;
    width: 100%;
    min-height: 92px;
    padding-top: 12px
}

.material-select .m-select-wrapper {
    position: relative;
    border-bottom: 1px solid #767676;
    height: 60px;
    padding: 1px;
    overflow: hidden
}

.material-select.bordered .m-select-wrapper {
    border: 1px solid #767676
}

.material-select .m-select-wrapper:after {
    display: block;
    content: " ";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #767676;
    height: 0;
    width: 0;
    right: 16px;
    position: absolute;
    top: 28px;
    pointer-events: none
}

.material-select.fill .m-select-wrapper:after {
    border-top-color: #e85a25
}

.material-select .m-select-wrapper select {
    width: 100%;
    height: 100%;
    padding: 12px 30px;
    border: none;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.44;
    letter-spacing: 1.44px;
    text-align: left;
    color: #767676;
    background-color: #fff
}

.material-select p.m-title {
    opacity: 0;
    position: absolute;
    left: 30px;
    height: 60px;
    top: 12px;
    transition: all .3s;
    color: #767676;
    pointer-events: none;
    font-size: 1.6rem;
    align-items: center
}

.material-select.fill p.m-title, .material-select.focusing p.m-title, .material-select.has-error p.m-title {
    display: flex;
    height: 12px;
    top: 6px;
    z-index: 0;
    font-size: 1.3rem;
    opacity: 1
}

.material-select.bordered.fill p.m-title:before, .material-select.bordered.focusing p.m-title:before, .material-select.bordered.has-error p.m-title:before {
    content: "";
    width: calc(100% + 16px);
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: -8px;
    z-index: -1
}

.material-select.fill .m-select-wrapper {
    border-color: #e85a25
}

.material-select.fill p.m-title {
    color: #e85a25
}

.material-select.fill select {
    color: #333
}

, .material-select.has-error .m-title {
    height: 12px;
    top: 0;
    font-size: 12px
}

.material-select.has-error .icon, .material-select.has-error .m-title {
    color: #ef4a81
}

@media (max-width:1919px) {
    .material-select {
        min-height: 55px
    }
    .material-select .m-select-wrapper {
        height: 40px
    }
    .material-select .m-select-wrapper select {
        padding: 0 15px;
        font-size: 1.3rem
    }
    .material-select .m-select-wrapper:after {
        top: 18px
    }
    .material-select p.m-title {
        margin-left: 15px;
        height: 40px;
        left: 0
    }
}

.loading {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999999999
}

.loading .loader {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 1rem;
    text-indent: -12345px;
    border: 1px solid hsla(0, 0%, 100%, .08);
    border-left-color: hsla(0, 0%, 100%, .5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spinner .7s linear infinite;
    -moz-animation: spinner .7s infinite linear;
    -ms-animation: spinner .7s infinite linear;
    -o-animation: spinner .7s infinite linear;
    animation: spinner .7s linear infinite;
    z-index: 9999999999
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        -o-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.content-editor-wrapper>:not(:first-child) {
    margin-top: 60px
}

.content-editor-generated strong {
    font-weight: 700
}

.content-editor-generated.content-editor-generated-title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: 1.2px;
    text-align: left;
    color: #333;
    padding: 30px 0;
    border-bottom: 1px solid #cbcbcb
}

.content-editor-generated.content-editor-generated-content, .content-editor-generated.content-editor-generated-quote {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    letter-spacing: .9px;
    text-align: left;
    color: #333
}

.content-editor-generated.content-editor-generated-quote {
    position: relative;
    min-height: 120px;
    overflow: hidden
}

.content-editor-generated.content-editor-generated-quote h3 {
    font-size: 15rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
    color: orange;
    width: 90px;
    display: inline-block;
    float: left
}

.content-editor-generated.content-editor-generated-quote h3:nth-child(n+2) {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 80px
}

.content-editor-generated.content-editor-generated-quote div {
    padding: 36px 0 36px 8px;
    width: calc(100% - 180px);
    display: inline-block;
    display: inline-flex;
    float: left
}

.content-editor-generated.content-editor-generated-quote div>* {
    display: inline-block;
    margin: auto
}

.content-editor-generated.content-editor-generated-comment {
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 1.38;
    letter-spacing: 1.05px;
    text-align: left;
    color: #333;
    padding: 45px 100px;
    min-height: 120px;
    border-radius: 10px;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center
}

.content-editor-generated.content-editor-generated-comment:after {
    content: "";
    min-height: inherit;
    font-size: 0;
    display: block
}

.content-editor-generated.content-editor-generated-link {
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 1.38;
    letter-spacing: 1.05px;
    text-align: center;
    color: #0072bc;
    cursor: pointer;
    text-decoration: none;
    min-height: 120px;
    border: 1px solid #cbcbcb;
    display: flex;
    justify-content: center;
    align-items: center
}

.content-editor-generated.content-editor-generated-link:after {
    content: "";
    min-height: inherit;
    font-size: 0;
    display: block
}

.content-editor-generated.content-editor-generated-link:hover {
    text-decoration: underline
}

.content-editor-generated.content-editor-generated-link .icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    position: relative;
    margin-left: 5px
}

.content-editor-generated.content-editor-generated-link .icon:after, .content-editor-generated.content-editor-generated-link .icon:before {
    content: "";
    width: 12px;
    height: 12px;
    border: 1px solid #0072bc;
    display: block;
    position: absolute;
    right: 0;
    top: 0
}

.content-editor-generated.content-editor-generated-link .icon:after {
    background-color: #fff;
    outline: 1px solid #fff
}

.content-editor-generated.content-editor-generated-link .icon:before {
    right: 4px;
    top: 4px
}

.content-editor-generated.content-editor-generated-image-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative
}

.content-editor-generated.content-editor-generated-image-wrapper .content-editor-generated-image {
    width: 100%;
    height: auto;
    float: left
}

.content-editor-generated.content-editor-generated-image-wrapper .content-editor-generated-image-description {
    width: 100%;
    padding: 30px;
    background-color: hsla(0, 0%, 94.1%, .8);
    color: #000;
    font-size: 1.8rem;
    position: absolute;
    bottom: 0
}

.content-editor-generated.content-editor-generated-video {
    width: 100%;
    height: 800px
}

.content-editor-generated.content-editor-generated-carousel {
    position: relative
}

.content-editor-generated.content-editor-generated-carousel .btn-next {
    width: 120px;
    height: 60px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 100%, .7);
    border-left: 1px solid hsla(0, 0%, 100%, .3)
}

.content-editor-generated.content-editor-generated-carousel .btn-prev {
    width: 120px;
    height: 60px;
    position: absolute;
    right: 120px;
    bottom: 0;
    background-color: hsla(0, 0%, 100%, .7)
}

.content-editor-generated.content-editor-generated-code {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
    letter-spacing: .9px;
    text-align: left;
    color: #333
}

.content-editor-generated.content-editor-generated-code h2 {
    font-size: 2.8rem
}

.content-editor-generated.content-editor-generated-code h3 {
    font-size: 2.4rem
}

.content-editor-generated.content-editor-generated-code h4 {
    font-size: 2rem
}

.content-editor-generated.content-editor-generated-code ul {
    list-style-type: disc;
    padding-left: 12px
}

.content-editor-generated.content-editor-generated-code ol {
    list-style-type: decimal;
    padding-left: 12px
}

.content-editor-generated.content-editor-generated-complex {
    overflow: hidden
}

.content-editor-generated.content-editor-generated-complex>* {
    display: inline-block;
    float: left;
    width: calc(50% - 30px)
}

.content-editor-generated.content-editor-generated-complex :first-child {
    margin-right: 60px
}

@media (min-width:1280px) and (max-width:1919px) {
    .content-editor-wrapper>:not(:first-child) {
        margin-top: 40px
    }
    .content-editor-generated.content-editor-generated-title {
        font-size: 1.8rem;
        padding: 20px 0
    }
    .content-editor-generated.content-editor-generated-content, .content-editor-generated.content-editor-generated-quote {
        font-size: 1.6rem
    }
    .content-editor-generated.content-editor-generated-comment {
        font-size: 1.6rem;
        padding: 20px 60px;
        min-height: 80px
    }
    .content-editor-generated.content-editor-generated-link {
        font-size: 1.4rem;
        min-height: 80px
    }
    .content-editor-generated.content-editor-generated-link .icon {
        margin-left: 12px
    }
    .content-editor-generated.content-editor-generated-video {
        height: 500px
    }
}

@media (min-width:1px) and (max-width:767px) {
    .content-editor-wrapper>:not(:first-child) {
        margin-top: 15px
    }
    .content-editor-generated.content-editor-generated-title {
        font-size: 1.6rem;
        line-height: 1.8;
        letter-spacing: .8px;
        padding: 15px 0
    }
    .content-editor-generated.content-editor-generated-content, .content-editor-generated.content-editor-generated-quote {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: .65px
    }
    .content-editor-generated.content-editor-generated-quote {
        position: relative;
        min-height: 60px;
        overflow: hidden
    }
    .content-editor-generated.content-editor-generated-quote h3 {
        font-size: 75px;
        width: 45px
    }
    .content-editor-generated.content-editor-generated-quote h3:nth-child(n+2) {
        height: 40px
    }
    .content-editor-generated.content-editor-generated-quote div {
        padding: 15px 0 15px 10px;
        width: calc(100% - 90px)
    }
    .content-editor-generated.content-editor-generated-comment {
        font-size: 1.6rem;
        line-height: 1.6;
        letter-spacing: .8px;
        padding: 20px 15px
    }
    .content-editor-generated.content-editor-generated-link {
        font-size: 1.6rem;
        letter-spacing: .8px;
        min-height: 60px
    }
    .content-editor-generated.content-editor-generated-link .icon {
        margin-left: 15px
    }
    .content-editor-generated.content-editor-generated-video {
        height: 300px
    }
    .content-editor-generated.content-editor-generated-carousel .btn-next {
        width: 80px;
        height: 40px
    }
    .content-editor-generated.content-editor-generated-carousel .btn-prev {
        width: 80px;
        height: 40px;
        right: 80px
    }
    .content-editor-generated.content-editor-generated-code {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: .65px
    }
    .content-editor-generated.content-editor-generated-code h2 {
        font-size: 2.4rem
    }
    .content-editor-generated.content-editor-generated-code h3 {
        font-size: 2rem
    }
    .content-editor-generated.content-editor-generated-code h4 {
        font-size: 1.6rem
    }
    .content-editor-generated.content-editor-generated-complex>* {
        width: 100%
    }
    .content-editor-generated.content-editor-generated-complex>:first-child {
        margin-right: 0;
        margin-bottom: 15px
    }
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

button {
    background-color: transparent;
    border: none;
    padding: 0
}

button, select {
    outline: none
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

select {
    -moz-appearance: none;
    -webkit-appearance: none
}

select::-ms-expand {
    display: none
}

html body * {
    font-family: Montserrat, PingFang TC, Heiti TC, Noto Sans, Source Han Sans, Verdana, Helvetica, Microsoft YaHei, Microsoft JhengHei, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    color: #333
}

button, input[type=submit] {
    cursor: pointer
}

.visible-phone-only {
    display: none
}

.hidden-phone-only {
    display: flex
}

.w-100 {
    width: 100%
}

.img-wrapper {
    position: relative;
    overflow: hidden
}

.img-wrapper.floating-img-wrapper {
    height: 0
}

.img-wrapper img {
    width: 100%;
    height: auto
}

@media (min-width:1px) and (max-width:767px) {
    .visible-phone-only {
        display: flex
    }
    .hidden-phone-only {
        display: none
    }
}

header {
    position: relative
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #f7f8fa;
    z-index: 999999
}

header nav.transparent {
    background-color: transparent
}

header nav a.logo-wrapper {
    padding: 17px 85px;
    display: inline-block;
    height: 100%
}

header nav a.logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

header nav a.logo-wrapper .logo {
    display: block
}

header nav.transparent a.logo-wrapper .logo, header nav a.logo-wrapper .logo-in-transparent {
    display: none
}

header nav.transparent a.logo-wrapper .logo-in-transparent {
    display: block
}

header nav .links {
    float: right;
    height: 100%;
    margin-right: 70px
}

header nav .links li {
    height: 100%;
    float: left
}

header nav .links li a {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 70px;
    font-size: 1.4rem;
    font-size: .90vw;
    font-weight: 600;
    color: #00a8d6;
    padding: 0 15px;
    text-decoration: none
}

header nav.transparent .links li a {
    color: #fff
}

header nav .copyright, header nav .links .sub-menu {
    display: none
}

@media (hover:hover) {
    header nav .links li a:hover {
        color: #fff;
        background-color: #00a8d6
    }
}

@media (min-width:768px) {
    header nav.transparent {
        height: 94.5px
    }
    header nav.transparent .links li a {
        line-height: 94.5px
    }
    header nav .links li.has-sub-menu {
        position: relative
    }
    header nav .links li.has-sub-menu.opened a {
        color: #fff;
        background-color: #00a8d6
    }
    header nav .links li.has-sub-menu .sub-menu {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: calc(180px + 3vw);
        background-color: #00a8d6;
        max-height: 0;
        overflow: hidden;
        transition: all .3s
    }
    header nav .links li.has-sub-menu.opened .sub-menu {
        max-height: 999px
    }
    header nav .links li.has-sub-menu.opened .sub-menu li {
        width: 100%
    }
    header nav .links li.has-sub-menu.opened .sub-menu a {
        width: 100%;
        float: left
    }
    header nav .links li.has-sub-menu .sub-menu a:hover {
        background-color: #34495e
    }
}

@media (min-width:1px) and (max-width:767px) {
    header nav {
        height: 60px
    }
    header nav a.logo-wrapper {
        padding: 15px 30px
    }
    header nav .links {
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 999999;
        transition: all .3s ease-out;
        left: 100vw;
        height: 100vh;
        width: 100vw;
        margin-right: 0;
        background-color: #00a8d6;
        padding: 0 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column
    }
    header nav .links ul {
        width: 100%
    }
    header nav .links.opened {
        left: 0;
        transition: all .3s ease-out
    }
    header nav .links li {
        width: 100%;
        height: auto
    }
    header nav .links li.has-sub-menu {
        height: auto
    }
    header nav .links li a {
        width: 100%;
        color: #fff;
        text-align: left;
        justify-content: start;
        line-height: 1em;
        padding: 20px 0;
        font-size: 1.8rem;
        font-weight: 700
    }
    header nav .links li:not(:last-child) {
        border-bottom: 1px solid #e5e8ed
    }
    header nav .links .sub-menu {
        display: block;
        width: 100%
    }
    header nav .links .sub-menu li {
        border-bottom: none;
        font-size: 1.6rem;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
        padding: 0
    }
    header nav .links .sub-menu li a {
        padding: 10px 10px 10px 20px;
        font-size: 1.6rem;
        font-weight: 400
    }
    header nav .links .sub-menu li:last-child a {
        margin-bottom: 10px
    }
    header nav .copyright {
        display: block;
        font-size: .9rem;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.22;
        letter-spacing: .45px;
        text-align: left;
        color: #fff;
        position: absolute;
        left: 36px;
        bottom: 50px
    }
}

header nav .btn-drawer {
    height: 100%;
    line-height: 100%;
    width: 75px;
    float: right;
    cursor: pointer;
    display: none;
    vertical-align: middle;
    position: relative
}

header nav .btn-drawer:before {
    content: "";
    width: 1px;
    height: 30px;
    display: inline-block;
    background-color: #dfdfdf;
    position: absolute;
    top: 15px;
    left: 0
}

header nav .btn-drawer .hamburger {
    display: inline-block;
    width: 30px;
    height: 16px;
    position: relative
}

header nav .btn-drawer .hamburger span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #262626;
    border-radius: 3px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    position: absolute;
    left: 0
}

header nav.transparent .btn-drawer .hamburger span {
    background-color: #fff
}

header nav .btn-drawer .hamburger span:first-child {
    margin-top: 0
}

header nav .btn-drawer .hamburger span:nth-child(2) {
    margin-top: 7px
}

header nav .btn-drawer .hamburger span:nth-child(3) {
    margin-top: 14px
}

@media (min-width:1px) and (max-width:767px) {
    header nav .btn-drawer {
        display: table
    }
    header nav .btn-drawer.opened {
        background-color: #fff;
        z-index: 9999999
    }
    header nav .btn-drawer.opened:before {
        display: none
    }
    header nav .btn-drawer.opened .hamburger span {
        background-color: #00a8d6
    }
    header nav .btn-drawer.opened .hamburger span:first-child {
        transform: rotate(45deg);
        margin-top: 7.5px
    }
    header nav .btn-drawer.opened .hamburger span:nth-child(2) {
        display: none
    }
    header nav .btn-drawer.opened .hamburger span:nth-child(3) {
        transform: rotate(-45deg);
        margin-top: 8px
    }
}

footer {
    width: 100%;
    height: 90px;
    background-color: #34495e;
    display: flex;
    justify-content: center;
    align-items: center
}

footer p {
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: .75px;
    text-align: center;
    color: #fff
}

footer p a {
    color: #fff;
    text-decoration: none;
    padding: 0 4px
}

.page-index {
    transition: background-color 1.5s
}

.page-index main section {
    padding: 180px 10vw 0;
    overflow: hidden;
    position: relative
}

.page-index main section .section-title {
    font-size: 1.3rem;
    font-size: .83vw;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #00a8d6
}

.page-index main section .section-title2 {
    font-size: 4.8rem;
    font-size: 3.2vw;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #34495e;
    margin-top: 60px
}

.anchor-point {
    position: absolute;
    left: 0;
    top: -30px
}

.anchor-point[name=solution] {
    top: -100px
}

@media (min-width:1px) and (max-width:767px) {
    .anchor-point[name=solution] {
        top: -80px
    }
}

.text-content {
    margin-top: 30px;
    font-size: 1.8rem;
    font-size: 1.2vw;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #333c4e;
    padding: 0 92px;
    position: relative
}

.text-content:before {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    background-color: #00a8d6;
    position: absolute;
    left: 0;
    top: 10px
}

@media (min-width:1px) and (max-width:767px) {
    .page-index main section {
        padding: 60px 36px 0
    }
    .page-index main section .section-title {
        width: 100%;
        float: left;
        font-size: 1.3rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        color: #00a8d6
    }
    .page-index main section .section-title2 {
        font-size: 3rem;
        margin-top: 30px
    }
    .text-content {
        font-size: 1.6rem;
        padding: 0 0 0 36px
    }
    .text-content:before {
        width: 30px;
        left: -18px
    }
}

.page-index .section-banner {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0
}

.page-index .section-banner .img-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none
}

.page-index .section-banner video {
    width: 100%;
    height: 100%;
    background-color: #000;
    display: block;
    object-fit: cover
}

.page-index .section-banner .title-banner {
    display: none;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    font-size: 3.2rem;
    font-size: 2.13vw;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: start;
    align-items: center;
    padding: 100px 0 0 36px
}

.scroll-hint {
    position: absolute;
    left: 50%;
    bottom: 20px;
    padding-bottom: 40px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.scroll-hint .mouse-outer {
    width: 20px;
    height: 32px;
    border-radius: 12px;
    border: 2px solid #fff;
    position: relative
}

.scroll-hint .mouse-outer .mouse-wheel {
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 8px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    animation: anim-sparkling .8s linear infinite
}

.scroll-hint p {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-size: .66vw;
    font-weight: 700;
    margin: 6px 0 10px
}

.scroll-hint:before {
    background-color: hsla(0, 0%, 100%, .2)
}

.scroll-hint:after, .scroll-hint:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    width: 1px;
    height: 32px;
    margin: auto
}

.scroll-hint:after {
    background-color: #fff;
    animation: scrollAnime 2s ease 0s infinite
}

@keyframes scrollAnime {
    0% {
        top: calc(100% - 32px);
        bottom: auto;
        height: 0
    }
    24% {
        top: calc(100% - 32px);
        bottom: auto
    }
    25% {
        top: auto;
        bottom: 0;
        height: 32px
    }
    50% {
        top: auto;
        bottom: 0;
        height: 0
    }
    to {
        top: auto;
        bottom: 0;
        height: 0
    }
}

@-webkit-keyframes scrollAnime {
    0% {
        top: calc(100% - 32px);
        bottom: auto;
        height: 0
    }
    24% {
        top: calc(100% - 32px);
        bottom: auto
    }
    25% {
        top: auto;
        bottom: 0;
        height: 32px
    }
    50% {
        top: auto;
        bottom: 0;
        height: 0
    }
    to {
        top: auto;
        bottom: 0;
        height: 0
    }
}

@keyframes anim-sparkling {
    0% {
        opacity: 1
    }
    25% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    75% {
        opacity: 0
    }
    to {
        opacity: 0
    }
}

@-webkit-keyframes anim-sparkling {
    0% {
        opacity: 1
    }
    25% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    75% {
        opacity: 0
    }
    to {
        opacity: 0
    }
}

@media (min-width:1px) and (max-width:767px) {
    .page-index .section-banner .img-banner {
        display: block
    }
    .page-index .section-banner video {
        display: none
    }
    .page-index .section-banner .title-banner {
        display: flex;
        font-size: 3.2rem
    }
    .scroll-hint .mouse-outer {
        border-radius: 6px
    }
    .scroll-hint p {
        font-size: 1rem
    }
}

.section-about {
    background-image: url(/assets/img/logo_blue.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-x: calc(100% - 10vw);
    background-position-y: 180px
}

@media (min-width:1px) and (max-width:767px) {
    .section-about {
        background-position-x: calc(50vw - 360px);
        background-position-y: 0;
        background-size: auto
    }
}

.section-city-img {
    position: relative;
    width: 100%;
    margin-top: 120px
}

#city-img-wrapper {
    padding-bottom: calc(35% - 60px)
}

.section-solution-smarty-city {
    padding-top: 100px!important
}

.section-solution-smarty-city .post {
    position: relative;
    width: 100%
}

.section-solution-smarty-city .post .post-img-wrapper {
    margin-left: 180px;
    width: calc(100% - 180px);
    margin-top: 180px;
    z-index: -1
}

.section-solution-smarty-city .post .content {
    margin-top: 60px;
    background-color: #fff;
    padding: 60px;
    width: 444px;
    position: absolute;
    top: 0;
    left: 0
}

.section-solution-smarty-city .post.post1 .content {
    margin-top: -60px
}

.section-solution-smarty-city .post.post1 .post-img-wrapper .img-wrapper, .section-solution-smarty-city .post.post2 .post-img-wrapper .img-wrapper, .section-solution-smarty-city .post.post3 .post-img-wrapper .img-wrapper {
    padding-bottom: calc(66% - 60px)
}

.section-solution-smarty-city .post .content .content-title {
    font-size: 2.1rem;
    font-size: 1.4vw;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #333c4e
}

.section-solution-smarty-city .post .content .seperator {
    margin: 30px 0;
    width: 60px;
    height: 1px;
    background-color: #00a8d6
}

.section-solution-smarty-city .post .content .content-subtitle {
    font-size: 1.6rem;
    font-size: 1.26vw;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #3a3636
}

.section-solution-smarty-city .post .content .content-subtitle.mt {
    margin-top: 30px
}

.section-solution-smarty-city .post .content .content-subtitle-hr {
    margin-top: 15px;
    width: 100%;
    height: 1px;
    background-color: #e7eaf0
}

.section-solution-smarty-city .post .content .content-text {
    margin: 15px 20px 0;
    font-size: 1.3rem;
    font-size: .83vw;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left;
    color: #3a3636
}

.section-solution-smarty-city .post .content .content-text .prefix-check:before {
    content: "✓";
    margin-left: -12px
}

@media (min-width:768px) and (max-width:950px) {
    .section-solution-smarty-city .post .content {
        margin-top: 10px;
        padding: 30px!important
    }
    .section-solution-smarty-city .post.post1 .content {
        margin-top: -140px
    }
}

@media (min-width:1px) and (max-width:767px) {
    #city-img-wrapper {
        padding-bottom: calc(52.5% - 30px)
    }
    #city-img-wrapper img {
        width: 150%;
        margin-left: -25%
    }
    .section-solution-smarty-city .post .post-img-wrapper {
        margin: 30px -16px 0;
        width: calc(100% + 32px)
    }
    .section-solution-smarty-city .post .content {
        position: relative;
        padding: 30px 20px;
        width: 100%;
        margin-top: -30px
    }
    .section-solution-smarty-city .post.post1 .content {
        margin-top: -30px
    }
    .section-solution-smarty-city .post.post1 .post-img-wrapper .img-wrapper, .section-solution-smarty-city .post.post2 .post-img-wrapper .img-wrapper, .section-solution-smarty-city .post.post3 .post-img-wrapper .img-wrapper {
        padding-bottom: calc(66% - 30px)
    }
    .section-solution-smarty-city .post .content .content-title {
        font-size: 2.1rem;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: left;
        color: #333c4e
    }
    .section-solution-smarty-city .post .content .seperator {
        margin: 30px 0;
        width: 60px;
        height: 1px;
        background-color: #00a8d6
    }
    .section-solution-smarty-city .post .content .content-subtitle {
        font-size: 1.6rem;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: normal;
        text-align: left;
        color: #3a3636
    }
    .section-solution-smarty-city .post .content .content-subtitle.mt {
        margin-top: 30px
    }
    .section-solution-smarty-city .post .content .content-subtitle-hr {
        margin-top: 15px;
        width: 100%;
        height: 1px;
        background-color: #e7eaf0
    }
    .section-solution-smarty-city .post .content .content-text {
        margin: 15px 10px 0 20px;
        font-size: 1.3rem;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.8;
        letter-spacing: normal;
        text-align: left;
        color: #3a3636
    }
}

.section-solution-ai-box .intro {
    margin-top: 30px;
    position: relative;
    overflow: hidden
}

.section-solution-ai-box .intro .video-wrapper {
    position: relative;
    float: left;
    width: 66.66%
}

.section-solution-ai-box .intro .video-wrapper video {
    width: 100%
}

.section-solution-ai-box .intro .video-wrapper .play-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.section-solution-ai-box .intro .video-wrapper .play-mask img {
    width: 90px;
    height: 90px
}

.section-solution-ai-box .intro .content {
    float: left;
    width: 33.33%;
    padding: 60px 30px 0
}

.section-solution-ai-box .intro .seperator {
    margin: 30px 0;
    width: 60px;
    height: 1px;
    background-color: #00a8d6
}

.section-solution-ai-box .intro .intro-title {
    font-size: 1.8rem;
    font-size: 1.2vw;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #00a8d6
}

.section-solution-ai-box .intro .intro-subtitle {
    margin-top: 15px;
    font-size: 2.1rem;
    font-size: 1.4vw;
    font-weight: 600;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
    color: #333c4e
}

.section-solution-ai-box .intro .intro-text {
    font-size: 1.8rem;
    font-size: 1.2vw;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #3a3636
}

.section-solution-ai-box .post {
    margin-top: 120px;
    position: relative;
    overflow: hidden
}

.section-solution-ai-box .post .post-content {
    width: calc(37.5% - 28px);
    float: left
}

.section-solution-ai-box .post .post-content .post-title {
    margin-top: 90px;
    font-size: 1.3rem;
    font-size: .83vw;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: left;
    color: #333c4e
}

.section-solution-ai-box .post .post-content .post-subtitle {
    margin-top: 60px;
    font-size: 4.8rem;
    font-size: 3.2vw;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #00a8d6
}

.section-solution-ai-box .post .post-content .seperator {
    margin: 60px 0;
    width: 120px;
    height: 1px;
    background-color: #00a8d6
}

.section-solution-ai-box .post .post-content .box-img-wrapper {
    margin-top: 60px
}

.section-solution-ai-box .post .post-content img {
    width: 220px;
    height: 129px
}

.section-solution-ai-box .post .post-content .post-text {
    font-size: 1.8rem;
    font-size: 1.2vw;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #3a3636
}

.section-solution-ai-box .post .post-content .post-hint {
    margin-top: 90px;
    font-size: 3rem;
    font-size: 2vw;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: 1.5px;
    text-align: left;
    color: #333;
    display: flex;
    align-items: center
}

.section-solution-ai-box .post .post-content .post-hint small {
    margin-left: 10px;
    font-size: 1.6rem;
    font-size: 1.23vw;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: .8px;
    text-align: left;
    color: #333
}

.section-solution-ai-box .post .post-img {
    margin-left: 56px;
    width: calc(62.5% - 28px);
    float: left
}

.section-solution-ai-box .post .post-img img {
    width: 100%
}

@media (min-width:768px) {
    .section-solution-ai-box .post {
        padding: 0 6vw!important
    }
}

@media (min-width:1px) and (max-width:767px) {
    .section-solution-ai-box .intro .video-wrapper {
        width: 100%
    }
    .section-solution-ai-box .intro .video-wrapper .play-mask img {
        width: 40px;
        height: 40px
    }
    .section-solution-ai-box .intro .content {
        width: 100%;
        padding: 30px 0 0
    }
    .section-solution-ai-box .intro .seperator {
        margin: 20px 0;
        width: 38px
    }
    .section-solution-ai-box .intro .intro-title {
        font-size: 1.6rem
    }
    .section-solution-ai-box .intro .intro-subtitle {
        font-size: 2.1rem;
        margin-top: 12px
    }
    .section-solution-ai-box .intro .intro-text {
        font-size: 1.6rem
    }
    .section-solution-ai-box .post {
        margin-top: 0;
        display: none
    }
    .section-solution-ai-box .post.active {
        display: block
    }
    .section-solution-ai-box .post .post-content {
        width: 100%;
        display: flex;
        flex-direction: column
    }
    .section-solution-ai-box .post .post-content .box-img-wrapper {
        display: flex;
        justify-content: center;
        order: 1
    }
    .section-solution-ai-box .post .post-content img {
        width: 146px;
        height: 85.60909px
    }
    .section-solution-ai-box .post .post-content .post-text {
        font-size: 1.6rem;
        order: 2;
        margin-top: 52px
    }
    .section-solution-ai-box .post .post-content .post-hint {
        display: none
    }
    .section-solution-ai-box .post .post-img {
        margin-left: 0;
        margin-top: 30px;
        width: 100%
    }
    .section-solution-ai-box {
        overflow: visible!important
    }
    .section-solution-ai-box .post-tabbar-wrapper {
        padding: 90px 0 0;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #ededf2;
        flex-direction: column;
        z-index: 9
    }
    .section-solution-ai-box .post-tabbar-wrapper .tabbar-title {
        font-size: 1.3rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.23;
        letter-spacing: normal;
        text-align: center;
        color: #333c4e;
        width: 100%;
        float: left
    }
    .section-solution-ai-box .post-tabbar-wrapper .tabbar {
        width: 100%;
        float: left;
        margin-top: 30px;
        position: relative;
        overflow: hidden;
        height: 40px
    }
    .section-solution-ai-box .post-tabbar-wrapper button {
        float: left;
        width: 50%;
        height: 100%;
        font-size: 1.6rem;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: .8px;
        text-align: center;
        color: #00a8d6;
        border-bottom: 1px solid #00a8d6
    }
    .section-solution-ai-box .post-tabbar-wrapper button.active {
        color: #fff;
        background-color: #00a8d6
    }
}

.section-ai-box-spec .header-wrapper {
    transition: background-color 1.5s
}

.section-ai-box-spec .section-title {
    color: #333c4e!important
}

.section-ai-box-spec .section-title2 {
    color: #00a8d6!important
}

.section-ai-box-spec .seperator {
    margin: 30px 0;
    width: 120px;
    height: 1px;
    background-color: #00a8d6
}

.section-ai-box-spec .spec-wrapper {
    margin-top: 60px
}

.section-ai-box-spec .spec-wrapper .spec-header {
    overflow: hidden;
    position: relative
}

.section-ai-box-spec .spec-wrapper .box-wrapper {
    float: left;
    width: 35%
}

.section-ai-box-spec .spec-wrapper .box-wrapper img {
    height: 70px
}

.section-ai-box-spec .spec-wrapper .box-wrapper .box-title {
    margin: 16px 0;
    font-size: 2.1rem;
    font-size: 1.4vw;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #00a8d6
}

.section-ai-box-spec .spec-row-seperator {
    width: 100%;
    height: 1px;
    background-color: #e5e8ed
}

.section-ai-box-spec .spec-wrapper .spec-row {
    margin: 30px 0;
    overflow: hidden;
    position: relative
}

.section-ai-box-spec .spec-wrapper .spec-row-title {
    font-size: 1.8rem;
    font-size: 1.2vw;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #333c4e;
    float: left;
    width: 30%
}

.section-ai-box-spec .spec-wrapper .spec-row-text {
    color: #3a3636;
    float: left;
    width: 35%
}

.section-ai-box-spec .spec-wrapper .hint, .section-ai-box-spec .spec-wrapper .spec-row-text {
    font-size: 1.6rem;
    font-size: 1.26vw;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: left
}

.section-ai-box-spec .spec-wrapper .hint {
    margin-top: 30px;
    color: #707070
}

@media (min-width:768px) {
    .section-ai-box-spec {
        padding: 120px 18vw 0!important
    }
}

@media (min-width:1px) and (max-width:767px) {
    .section-ai-box-spec {
        overflow: visible!important
    }
    .section-ai-box-spec .header-wrapper {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        margin: -60px -36px 0;
        padding: 90px 36px 0;
        background-color: #fff;
        z-index: 99
    }
    .section-ai-box-spec .section-title {
        text-align: center!important
    }
    .section-ai-box-spec .section-title2 {
        font-size: 1.8rem!important;
        text-align: center!important
    }
    .section-ai-box-spec .spec-wrapper .spec-header .spec-row-title {
        display: none
    }
    .section-ai-box-spec .seperator {
        margin: 10px 0 0;
        width: 100%;
        height: 1px
    }
    .section-ai-box-spec .spec-wrapper {
        margin-top: 30px
    }
    .section-ai-box-spec .spec-wrapper .box-wrapper {
        float: left;
        width: 50%;
        text-align: center
    }
    .section-ai-box-spec .spec-wrapper .box-wrapper img {
        height: 50px
    }
    .section-ai-box-spec .spec-wrapper .box-wrapper .box-title {
        margin: 12px 0 0;
        font-size: 1.3rem;
        text-align: center
    }
    .section-ai-box-spec .spec-wrapper .spec-row-title {
        font-size: 1.3rem;
        margin: 30px 0 10px;
        width: 100%
    }
    .section-ai-box-spec .spec-wrapper .spec-row {
        margin: 12px 0
    }
    .section-ai-box-spec .spec-wrapper .spec-row .spec-row-title {
        display: none;
        width: 0
    }
    .section-ai-box-spec .spec-wrapper .spec-row .spec-row-text {
        font-size: 1.3rem;
        float: left;
        width: calc(50% - 5px)
    }
    .section-ai-box-spec .spec-wrapper .spec-row .spec-row-text:last-child {
        margin-left: 10px
    }
    .section-ai-box-spec .spec-wrapper .hint {
        margin-top: 30px;
        font-size: 1.3rem
    }
}

.section-solution-aoi .img-aoi-flow {
    width: calc(100% - 184px);
    margin: 90px 92px 0
}

.div-aoi-flow-img-wrapper {
    width: 100%;
    justify-content: center;
    margin-top: 30px
}

.section-construction-site-safety .spec-wrapper {
    margin-top: 60px
}

.section-construction-site-safety .spec-wrapper .spec-header {
    overflow: hidden;
    position: relative
}

.section-construction-site-safety .spec-wrapper .icon-wrapper {
    text-align: center;
    float: left;
    width: 30%
}

.section-construction-site-safety .spec-wrapper .icon-wrapper img {
    height: 70px
}

.section-construction-site-safety .spec-wrapper .icon-wrapper .icon-title {
    margin: 16px 0;
    font-size: 2.1rem;
    font-size: 1.4vw;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #00a8d6
}

.section-construction-site-safety .spec-row-seperator {
    width: 100%;
    height: 1px;
    background-color: #e5e8ed
}

.section-construction-site-safety .spec-wrapper .spec-row {
    margin: 30px 0;
    overflow: hidden;
    position: relative
}

.section-construction-site-safety .spec-wrapper .spec-row-title {
    font-size: 1.8rem;
    font-size: 1.2vw;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #333c4e;
    float: left;
    width: 30%
}

.section-construction-site-safety .spec-wrapper .spec-row-text {
    font-size: 1.6rem;
    font-size: 1.5vw;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    float: left
}

.section-construction-site-safety .spec-wrapper .info-row {
    margin: 30px 0;
    overflow: hidden;
    position: relative
}

.section-construction-site-safety .spec-wrapper .info-row-text {
    font-size: 1.3rem;
    font-size: 1.2vw;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    float: left
}

/* @media (min-width:768px) {
    .section-construction-site-safety {
        padding: 120px 18vw 0!important
    }
}

@media (min-width:1px) and (max-width:767px) {
    .section-construction-site-safety {
        overflow: visible!important
    }
    .section-construction-site-safety .header-wrapper {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        margin: -60px -36px 0;
        padding: 90px 36px 0;
        background-color: #fff;
        z-index: 99
    }
    .section-construction-site-safety .section-title {
        text-align: center!important
    }
    .section-construction-site-safety .section-title2 {
        font-size: 1.8rem!important;
        text-align: center!important
    }
    .section-construction-site-safety .spec-wrapper .spec-header .spec-row-title {
        display: none
    }
    .section-construction-site-safety .seperator {
        margin: 10px 0 0;
        width: 100%;
        height: 1px
    }
    .section-construction-site-safety .spec-wrapper {
        margin-top: 30px
    }
    .section-construction-site-safety .spec-wrapper .box-wrapper {
        float: left;
        width: 50%;
        text-align: center
    }
    .section-construction-site-safety .spec-wrapper .box-wrapper img {
        height: 50px
    }
    .section-construction-site-safety .spec-wrapper .box-wrapper .box-title {
        margin: 12px 0 0;
        font-size: 1.3rem;
        text-align: center
    }
    .section-construction-site-safety .spec-wrapper .spec-row-title {
        font-size: 1.3rem;
        margin: 30px 0 10px;
        width: 100%
    }
    .section-construction-site-safety .spec-wrapper .spec-row {
        margin: 12px 0
    }
    .section-construction-site-safety .spec-wrapper .spec-row .spec-row-title {
        display: none;
        width: 0
    }
    .section-construction-site-safety .spec-wrapper .spec-row .spec-row-text {
        font-size: 1.3rem;
        float: left;
    }
    .section-construction-site-safety .spec-wrapper .spec-row .spec-row-text:last-child {
        margin-left: 10px
    }

    .section-construction-site-safety .spec-wrapper .info-row {
        margin: 12px 0
    }

    .section-construction-site-safety .spec-wrapper .info-row .info-row-text {
        font-size: 1.0rem;
        float: left;
    }
} */

.page-index .section-contact {
    position: relative
}

.page-index .section-contact .google-map {
    width: 63%;
    height: 675px;
    float: right;
    z-index: -1;
    position: relative
}

.page-index .section-contact .info {
    width: 50%;
    height: 440px;
    background-color: #00a8d6;
    padding: 60px;
    margin-top: 117.5px
}

.page-index .section-contact .info a {
    color: #fff;
    text-decoration: none
}

.page-index .section-contact .seperator {
    width: 60px;
    height: 1px;
    background-color: #fff;
    margin-top: 30px
}

.page-index .section-contact .info h2 {
    font-size: 2.1rem;
    font-size: 1.4vw;
    font-weight: 600;
    line-height: 1.19
}

.page-index .section-contact .info h2, .page-index .section-contact .info p {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff
}

.page-index .section-contact .info p {
    display: flex;
    font-size: 1.8rem;
    font-size: 1.2vw;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 30px
}

.page-index .section-contact .info p img {
    margin-right: 8px
}

@media (min-width:768px) {
    .page-index .section-contact {
        padding-right: 0
    }
}

@media (min-width:1px) and (max-width:767px) {
    .page-index .section-contact .google-map {
        width: 100%;
        height: 240px;
        position: absolute!important;
        left: 0;
        bottom: 0
    }
    .page-index .section-contact .info {
        width: 100%;
        height: auto;
        padding: 30px;
        margin-top: 0;
        margin-bottom: 210px
    }
    .page-index .section-contact .seperator {
        width: 38px;
        margin-top: 15px
    }
    .page-index .section-contact .info h2 {
        font-size: 1.6rem
    }
    .page-index .section-contact .info p {
        font-size: 1.3rem;
        margin-top: 15px
    }
}

.page-text main {
    padding: 180px 10vw 0;
    background-image: url(/assets/img/logo_blue.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-x: calc(100% - 10vw);
    background-position-y: 12vw
}

.page-text .title {
    font-size: 4.8rem;
    font-size: 3.2vw;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #34495e;
    margin-top: 60px
}

.page-text .subtitle {
    font-size: 1.3rem;
    font-size: .83vw;
    font-weight: 500;
    line-height: 1.23
}

.page-text .content, .page-text .subtitle {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333c4e;
    padding: 0 12vw;
    margin-top: 30px
}

.page-text .content {
    font-size: 1.8rem;
    font-size: 1.2vw;
    font-weight: 300;
    line-height: 1.6;
    position: relative
}

.page-text .btn-close {
    margin: 12vw auto;
    display: block;
    background-color: #00a8d6;
    font-size: 1.6rem;
    font-size: 1.1vw;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: .8px;
    text-align: center;
    color: #fff;
    padding: 3vw 6vw
}

@media (min-width:1px) and (max-width:767px) {
    .page-text main {
        padding: 60px 36px 0
    }
    .page-text .title {
        font-size: 3rem
    }
    .page-text .subtitle {
        font-size: 1.3rem;
        margin-top: 30px;
        padding: 0
    }
    .page-text .content {
        font-size: 1.6rem;
        padding: 0
    }
    .page-text .btn-close {
        font-size: 1.6rem;
        padding: 15px 30px
    }
}